
<style>
	td.accepter {
		padding: 16px;
	}
	.border {
		padding: 16px;
	}
	.form-label {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.form-control {
		margin-bottom: 8px;
	}
	.column {
		margin-left: 32px;
	}
</style>

<div class="row justify-content-center">

	<div class="column border rounded">
		<h3><%= I18n.t 'invites.invites' %> <span class="badge bg-dark text-light">
			<%= I18n.t 'invites.outgoing' %></span></h3>

		<% @invites = Invite.where(sender: current_user.email) %>
		<% unless @invites.empty? %>

		<table class="table table-hover">
			<thead>
				<tr>
					<!-- <th>Sender</th> -->
					<th><%= I18n.t 'invites.reciever' %></th>
					<th><%= I18n.t 'invites.accepted' %></th>
				</tr>
			</thead>

			<tbody id="dynamic">
				<% @invites.each do |invite| %>
				<tr>
					<!-- <td><%= invite.sender %></td> -->
					<td><%= invite.reciever %></td>
					<td><%= invite.accepted %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<% else %>
		<p>empty</p>
		<%end%>

		<br/>
	</div>

		<!-- ===================================================== -->
		<div class="column border rounded">

		<h3><%= I18n.t 'invites.invites' %> <span class="badge bg-dark text-light">
			<%= I18n.t 'invites.incoming' %></span></h3>

		<% @invites = Invite.where(reciever: current_user.email) %>
		<% unless @invites.empty? %>

		<table class="table table-hover">
			<thead>
				<tr>
					<th><%= I18n.t 'invites.sender' %></th>
					<!-- <th>Reciever</th> -->
					<th><%= I18n.t 'invites.accepted' %></th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody id="dynamic">
				<% @invites.each do |invite| %>
				<tr>
					<td><%= invite.sender %></td>
					<!-- <td><%= invite.reciever %></td> -->
					<td><%= invite.accepted %></td>
					<td>
						<% unless invite.accepted %>
						<%= form_for :invite, url: "/invites/accept?sender=#{invite.sender}&reciever=#{invite.reciever}", :method => "post",
						:remote => true, :id => 'input_form' do |form|%>
						<div class="actions">
							<%= form.submit((I18n.t'invites.accept'), :class => "btn btn-primary")%>
						</div>
						<% end %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<% else %>
		<p>empty</p>
		<%end%>

		<br/>
		<br/>
		<div align="bottom">current user: <%= current_user.email %></div>
	</div>




<!-- =========================================== -->
	<div class="column">
		<div class="border rounded">

			<%= form_for :invite, url: "/invites", :method => "post",
			:remote => true, :id => 'input_form' do |form|%>

<!-- <div class="field">
    <%= form.label 'sender' %>
    <%= form.text_field 'sender' %>
</div> -->

<div class="field">
	<%= form.label((I18n.t'invites.sendto'), :class => "form-label") %>
	<%= form.text_field('reciever', :class => "form-control", 
	:type => "email", :placeholder => "name@example.com") %>


<!--   <div class="field">
    <%= form.label 'accepted' %>
    <%= form.check_box 'accepted' %>
</div> -->

<div class="actions">
	<%= form.submit((I18n.t'invites.send'), :class => "btn btn-primary") %>
</div>
<% end %>
</div>



</div>
</div>

</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		dynamic = document.getElementById("dynamic")
		setInterval(function() {
			console.log("~refresh")
           // dynamic.load('/invites');
           window.location.reload(false);
       }, 10000);
	})
</script>