<%= form_for :invite, url: "/invites", :method => "post",
:remote => true, :id => 'input_form' do |form|%>

<!-- <div class="field">
    <%= form.label 'sender' %>
    <%= form.text_field 'sender' %>
</div> -->

<div class="field">
	<%= form.label 'reciever' %>
	<%= form.text_field 'reciever' %>
</div>

<!--   <div class="field">
    <%= form.label 'accepted' %>
    <%= form.check_box 'accepted' %>
</div> -->

<div class="actions">
	<%= form.submit "send invite"%>
</div>
<% end %>
<p>auth:</p>
<p><%= current_user.email %></p>






<h1>Invites - outgoing</h1>

<% @invites = Invite.where(sender: current_user.email) %>
<% unless @invites.empty? %>

<table>
	<thead>
		<tr>
			<!-- <th>Sender</th> -->
			<th>Reciever</th>
			<th>Accepted</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody id="dynamic">
		<% @invites.each do |invite| %>
		<tr>
			<!-- <td><%= invite.sender %></td> -->
			<td><%= invite.reciever %></td>
			<td><%= invite.accepted %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% else %>
<p>empty</p>
<%end%>

<br/>

<h1>Invites - incoming</h1>

<% @invites = Invite.where(reciever: current_user.email) %>
<% unless @invites.empty? %>

<table>
	<thead>
		<tr>
			<th>Sender</th>
			<!-- <th>Reciever</th> -->
			<th>Accepted</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody id="dynamic">
		<% @invites.each do |invite| %>
		<tr>
			<td><%= invite.sender %></td>
			<!-- <td><%= invite.reciever %></td> -->
			<td><%= invite.accepted %></td>
			<td>
				<% unless invite.accepted %>
				<%= form_for :invite, url: "/invites/accept?sender=#{invite.sender}&reciever=#{invite.reciever}", :method => "post",
				:remote => true, :id => 'input_form' do |form|%>
				<div class="actions">
					<%= form.submit "accept"%>
				</div>
				<% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<% else %>
<p>empty</p>
<%end%>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		dynamic = document.getElementById("dynamic")
		setInterval(function() {
			console.log("~refresh")
           // dynamic.load('/invites');
           window.location.reload(false);
       }, 10000);
	})
</script>