<!-- <h1>Sessions#new</h1>
	<p>Find me in app/views/sessions/new.html.erb</p> -->

	<style>
		.border{
			padding: 16px;
			padding-left: 32px;
			padding-right: 32px;
			margin-top: 32px;
		}	
		h1 {
			padding-bottom: 16px; 
		}
	</style>


	<div class="row justify-content-center">
		<div class="column border rounded">

			<div align="center">
				<h1>Login</h1>
			</div>

			<p><%= I18n.t 'hello' %></p>

			<p id="alert"><%= alert %></p>

			<%= form_tag sessions_path do |form| %>
			<div class="field">
				<%= label_tag :email %>
				<br/>
				<%= text_field_tag :email %>
			</div>  

			<div class="field">
				<%= label_tag :password %>
				<br/>
				<%= password_field_tag :password %>
			</div>  

			<div class="actions">
				<%= submit_tag "Login", :class => "btn btn-primary" %>
			</div>
			<% end %>
		</br>
		<div align="center" class="bg-transparent">
			<%= link_to("Sign Up", signup_path, :class => "bg-transparent") %>
		</div>

	</div>
</div>