

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2> <%= (I18n.t 'signup.errors') %></h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <br/>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label (I18n.t 'signup.password') %>
    <br/>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label (I18n.t 'signup.passwordconf') %>
    <br/>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit((I18n.t 'signup.signup'), :class => "btn btn-primary") %>
  </div>

<% end %>


