<!DOCTYPE html>
<html>
  <head>
    <style>
      #content {
        margin-top: 32px;
      }
      
    </style>
    
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">


<nav class="navbar navbar-dark navbar-expand bg-dark">
  <div class="container-fluid">
     <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active bg-transparent" aria-current="page" href="/automorphs/switch"><%= I18n.t 'locale' %></a>
        </li>
      </ul>
  </div>
</nav>

<div id="content">
    <%= yield %>
  </div>
  </body>
</html>